doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Join the #{community} community on Slack!
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css", rel="stylesheet", type="text/css")
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
  body
    #wrapper.ui.middle.aligned.center.aligned.grid
      .main.column
        .ui.segment
          .header
            h2.ui.center.aligned.header
              .content #[a(href="http://#{slackUrl}") #{community}]
          .ui.negative.message
            .header message
            p error.status
            pre #{error.stack}
          a.ui.basic.button(href="/") Back
