doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Join the #{community} community on Slack!
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css", rel="stylesheet", type="text/css")
    link(href="css/style.css", rel="stylesheet", type="text/css")
  body
    #wrapper.ui.middle.aligned.center.aligned.grid
      .main.column
        .ui.segment
          .header
            h2.ui.center.aligned.header
              //img.ui.image(src="../images/hh-design-logo.jpg")
              .content Join #[a(href="#{slackUrl}") #{community}] on Slack
          .content
            .information
              form(method="POST", action="/invite")#join-form.ui.large.form
                .ui.fluid.action.input.left.icon
                  i.mail.icon
                  input(type="text", name="email", placeholder="Email")#slack-email.field
                  if tokenRequired
                    input(type="text", name="token", placeholder="Enter the invite token you were given")#slack-token.field
                  button.ui.violet.button(type='submit')
                    | Join
    script.
      var tokenRequired = #{tokenRequired};
      var form = document.getElementById('join-form');
      var email = document.getElementById('slack-email');
      var token = document.getElementById('slack-token');
      form.addEventListener('submit', function(evt) {
        if (!email.value) {
          evt.preventDefault();
        }
        if (tokenRequired && !token.value) {
          evt.preventDefault();
        }
      });
    //script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js")
